<div class="mapbox-info-marker">
  <div class="title-icon-container">
    <%= link_to instrument_path(instrument), class: "instrument-title-link" do %>
      <%= instrument.title %>
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    <% end %>
  </div>
  <p><%= instrument.user.address %></p>
</div>
