<h1 class="font_title pt-5">Louez les meilleurs instruments près de chez vous</h1>
  <div id="instruments" class="instrument-section">
    <%= render "instrument", instruments: @instruments %>
  </div>
  <div class=""></div>
</div>
